ul {
  list-style-type: none;
  margin:0;
  padding: 0;
  margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
* {box-sizing: border-box;}

body { 
  
  margin:50px;
  background-color: white;
  scroll-behavior:smooth;
  scrollbar-width: none;
  border-style: none;
  margin: 0%;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .contact
  {
    float: none;
    display: block;
    text-align: left;
  }
  .img-fluid
  {
    height: 50px;
  }
  .about
  {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  
  
  .slider
  {
    height: 230px;
    width: 350px;
  }
  .image
  {
    width: 150px;
    margin-left:25px;
    margin-top: 25px;
  }
  
}
@media screen and (min-width: 500px) {
  .img-fluid
  {
    height: 70px;
  }
  .about{
    margin: 70px;
  } 
  .sch{
    margin-bottom: 40px;
    margin-top: 70px;
    padding-left: 200px;
  } 
  .syllabus{
   margin-top:40px;
   margin-bottom: 70px;
   padding-left: 200px;
  } 
}

  .logos {
    background-color: #d88900;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    height: auto;
    width: auto;
  }
  .logos a:hover {
    opacity: 0.7;
  }
  .cover
  {
    padding: 60px;
    font-family: Anton;
    text-align: center;
    color: azure;
    background-color: black;
    background-image: url("cover.jpeg");

    background-position: center center;
    background-size: cover;
    justify-items: center;
    height: auto;
    width: auto;
    position: relative;
    scroll-behavior: smooth;
    text-shadow: black;
    font-size: 30px;
    text-shadow: black;
    
  }

  .content
  {
    padding-left:5px;
    padding-right: 5px;
    padding-top: 100px;
    text-align: center;
    flex-wrap:wrap;
    
  }
  
.sch h1
{
  color: #d88900;
    font-family: Playfair Display;
    font-weight: bold;
    text-align: center;

}
.syllabus h1
{
  color: #d88900;
    font-family: Playfair Display;
    font-weight: bold;
    text-align: center;
 
}
  .content h4
  {
    font-family: 'Poppins', sans-serif;
    
  }
  .content h1
  {
    color: #d88900;
    text-align: center;
    font-family: Playfair Display;
    font-weight: bold;
  }
  .content p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
  
  }
  li
  {
    display: inline;
    display: block;
    float:left;
  }
  
  a {
    display: block;
    padding: 0px;
    
  } 

  .slider {
    
    max-height:300px;
    max-width: 500px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
  }
  
.footer
{
  display: block;
  margin-top: 100px;
  background-color: #d88900;
}
.footer .social
{
  display: block;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  color:white;
}
.footer .social a
{
  font-size: 24px;
  color:inherit;
  border: 1px solid white;
  width:40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity:0.75;

}
.footer .social a:hover
{
  opacity:0.9;
}
.footer ul
{
  margin-top: 0;
  padding: 0%;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
}
.copyright
{
  margin-bottom: 0;
  text-align: center;
  color:azure;
}
.sch
{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding: 10px;
  display: block;
  align-items: center;
  
}
.syllabus
{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding:10px; 
  display: block;
  align-items: center;
}

.mo
{
  display: block;
  margin-top:50px;
  margin-bottom: 50px;
  border-color: black;
  border-width: 10px;
  text-align: center;
}
.mo:hover
{
  opacity:0.95;
  
}

.paxx
{
  display: block;
  margin-top:50px;
  margin-bottom: 50px;
  border-color: black;
  border-width: 10px;
  text-align: center;
  justify-content: center;
}
.paxx:hover
{
  opacity:0.95;
  
}

.president
{
  display: block;
  margin-top:50px;
  margin-bottom: 50px;
  border-color: black;
  border-width: 10px;
  text-align: center;
}
.president:hover
{
  opacity:0.95;
}
.contact
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    align-items: center;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    align-content: center;
    padding-left: 75px;
    padding-right: 75px;

}
.content1
  {
    padding-left:200px;
    padding-right: 200px;
    padding-top: 10px;
    text-align: center;
    
  }
.button {
  border: 1px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #d88900;
  border-radius: 50px;
}
a.button:link
{
  color:azure;
  background-color: #d88900;
}
a.button:visited
{
  color:azure;
  background-color: #d88900;
}
a.button:active
{
  color: azure;
  background-color: #d38600;
}
.SG{
  text-align: center;
  font-size: 20px;
}
.topnav {
  overflow: hidden;
  background-color: #d88900;
}
.topnav a {
  float: left;
  display: block;
  color: white ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .contact
  {
    float: none;
    flex-direction: column;
  }
  .image1
  {
    margin-top:50px;
  }
  .content1
  {
    padding-left:5px;
    padding-right: 5px;
    padding-top: 10px;
    text-align: center;
    
  }
 
}
img.image
{
  border-radius: 50%;
 
}

@media screen and (min-height: 1000px) {
  .content
  {
    float: none;
    min-height: 545px;
    justify-content: center;
  }
}

@media screen and (min-height: 1200px) {
  .content
  {
    float: none;
    min-height: 735px;
    justify-content: center;
  }
}

  @media screen and (min-width: 600px) {
    .content
    {
      float: none;
      min-height: 735px;
      justify-content: center;
    }
.image
{
  width: 300px;
  margin: 20px;
  margin-left: 50px;

}
.sch
{
  padding-left: 100px;
}

}



